.Pot {
	margin-left: 2em;
	margin-right: 2em;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#name {
	margin: 0.5em !important;
	padding: 0 !important;
}

.card-content {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.list-item {
	padding: 0.5em;
	margin-bottom: 1em !important;
}

.title {
	margin: 0.5em !important;
}

.column {
	padding: 0;
}
