@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css";
@import "../node_modules/bulma-list/css/bulma-list.css";
/* @import "../node_modules/bulma-o-steps/bulma-steps.css"; */


body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}